.aboutBackground{
    background-color: rgba(255, 255, 255,0.9);
    width: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
    padding-bottom: 50px;
} 
.about {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 20px;
    width: min(max(90%,800px), max(1400px,120vh));
}

.profileAbout {
    /* width: 100%; */
    width: min(1000px, 100%);
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    gap: 20px;
    /* background-color: rgba(0, 0, 0, 0.137); */
}

.profileImage {
    width: 300px;
    height: 300px;
    /* flex-grow: 1; */
    /* border-radius: 10%; */
    border: solid 2px rgba(57, 72, 85, 0.5)
}

.aboutText {
    /* background-color: brown; */
    min-width: 60%;
    flex-grow: 1;
    color: rgb(44, 44, 44);
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.skillsAndLenguagesBox {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.skillsAndLenguagesColums {
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 30px;
    width: 100%;
}

.infoBox {
    position: absolute;
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    background-color: rgb(255, 255, 255, 0.3);

    /* top: 10px;
    margin-inline: 10px;
    background-color: rgb(57, 72, 85,0.2); */

    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.infoBox.active {
    opacity: 1;
}

.progressBarsContainer {
    display: flex;
    flex-direction: column;
    /* width: 45%; */
    background-color: rgb(57, 72, 85, 0.02);
    padding: 20px;
    /* border-radius: 5px; */
    gap: 10px;
    flex-grow: 1;
}

.progressBarsContainer>h1 {
    font-size: 20px;
    color: rgb(20, 30, 40);
}

.progressBar {
    overflow: hidden;
    height: max(2.2vh, 22px);
    display: flex;
    flex-direction: row;
    /* border-radius: 2px; */
}

.progressBarLabel {
    height: 100%;
    width: 120px;
    background-color: aqua;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: rgb(100, 120, 130);
    background-color: rgb(107, 121, 132);
    font-weight: 600;
    color: white;
    /* color: rgb(227, 27, 109); */
    cursor: pointer;
}

.progressBarBackground {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.progress {
    position: absolute;
    height: 100%;
    width: calc(100% * 0.5);
    background-color: rgb(70, 84, 88);
    background-color: rgb(57, 72, 85);
}