.aboutBackground {
    background-color: var(--about-background-color);
    width: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.about {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 20px;
    width: min(max(90%, 800px), max(1400px, 120vh));
}

.profileAbout {
    width: 100%;
    /* width: min(800px, 100%); */
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 20px;
}

.profileImage {
    max-height: 500px;
}

.aboutText {
    /* background-color: brown; */
    min-width: 60%;
    flex-grow: 1;
    color: var(--text-color);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
}