@media(max-width:800px) {
    .about {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 20px;
        width: 95%;
    }

    .profileAbout {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .profileImage {
        width: 95%;
        max-height: 100%;
    }

    .aboutText {
        width: 95%;
    }

    .columsOrRows {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        /* width: 90%; */

    }

}