.bar {
    position: fixed;
    width: 100%;
    top: 0vh;
    z-index: 2;
}

.barContent {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: rgb(27, 31, 42);
    background-color: rgb(37, 41, 52);
}

.barLine {
    width: 100%;
    height: 2px;
    background-color: #e9e9e9;

}