@media(max-width:900px) {
    .bar {
        position: fixed;

        left: auto;
        right: auto;


        max-width: 100%;
        z-index: 2;
        background-color: var(--bar-color);
    }

}

@media(max-width:500px) {
    .bar {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 65px;
        font-size: 45px;
        place-items: center;
        border-top: solid 1px rgba(255, 255, 255, 0.219);
        border-radius: 0px;
        background-color: rgb(20, 20, 22);
    }

    .barContent {
        font-size: 90%;
        display: flex;
        width: 100%;
        height: 25px;
        place-items: center;
        padding: 10px;
        gap: 0px;
        place-content: space-between;
        max-width: 100%;
        width: 80%;
    }

    .verticalLine {
        display: block;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.281);
    }

    .buttonSection {
        color: var(--text-color);
    }
    .buttonSection:hover {
        color: var(--default-highlight-color);
    }
    .buttonSection.active {
        color: var(--default-highlight-color);
    }
}
