.contact {
    background-color: var(--bar-color);
    padding-block: 100px;
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    position: relative;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.socials {
    display: flex;
    place-content: center;
    gap: min(20px,5%);
    max-width: min(800px,90%);
}

.socialButton {
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    place-content: center;
    place-items: center;
    scale: 1;
    transition-property: scale, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.socialButton:hover {
    scale: 1.05;
    background-color: var(--secundary-highlight-color);
}

.socialIcon {
    height: 70%;
    width: 70%;
}