@media(max-width:800px) {
    .skillsAndLenguagesColums {
        flex-direction: column;
        place-items: center;

        gap: 30px;
        width: 100%;
    }

    .progressBar {
        position: relative;
        min-width: 120px;
    }
}