.defaultHeader {
    font-size: 42px;
    font-weight: 600;
    color: var(--text-color);
    place-self: center;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

button {
    font-family: 'Montserrat', sans-serif;
}

