.home{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}
.container{
    margin-top: 35px ;
    /* width: max(100%, 800px); */
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
}