@media(max-width:900px) {
    .home {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100vh;
        color: var(--text-color);
        gap: 20px;
        place-items: center;
        place-content: start;

    }

    .profileSection {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0px;
        flex-shrink: 0;
        max-width: 100%;
        /* background-color: brown; */
    }

    .profile {
        width: calc(100%-10px);
    }
}