@media(max-width:900px) {
    .home {
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 100vh;
        color: var(--text-color);
        gap: 20px;
    }
    .profile {
        width: 90%;
    }
}