@media(max-width:900px) {
    .home {
        display: flex;
        flex-direction: column;
        width: 95%;
        color: var(--text-color);
        gap: 20px;
        place-items: center;
        place-content: start;


    }

    .profileSection {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0px;
        flex-shrink: 0;
        max-width: 100%;
        width: 100%;
    }

    .profile {
        width: calc(100%-10px);
    }
}

@media(max-width:500px) {
    .home {
        margin-top: 12px;
        margin-bottom: 80px;
    }
}