:root {
    --bar-color: rgba(14,17,24);

    --line-color: rgba(0, 0, 0, 0.2);
    --text-color: rgb(64, 64, 64);

    --default-highlight-color: rgba(227, 27, 109);
    --secundary-highlight-color: rgb(4, 194, 201);

    --presentation-background-color:rgba(14,17,24);
    /* --presentation-background-color: rgb(37, 41, 52); */
    --presentation-button-highlight-color: rgb(4, 194, 201);
    --presentation-button-border-color: white;

    --about-background-color: rgba(255, 255, 255, 1);
    --info-box-background-color: rgb(255, 255, 255, 1);
    /* --info-box-background-color: rgb(255, 255, 255, 0.3); */

    --progress-bar-background-color: rgba(0, 0, 0, 0.1);
    --progress-bar-color:rgb(51, 50, 75);
    --progress-bar-highlight-color: rgb(202, 22, 94);
    --progress-bar-label-color: rgb(22,26,35);
    --progress-bar-label-highlight-color: rgb(117, 13, 55);

    /* --default-container-background-color: rgba(2, 134, 141, 0.04); */
    --default-container-background-color: rgba(0, 0, 0, 0.02);

    --projects-background-color: rgba(240, 240, 240, 1);
    --skill-label-color: rgba(66, 66, 66, 1);

    --default-hover-color: rgba(0, 0, 0, 0.1);

    --project-window-color: rgba(255, 255, 255);

    --info-box-color: rgba(230, 230, 230);
}