@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Cambia el ancho de la scrollbar */
::-webkit-scrollbar {
  width: 0px; /* Ancho de la scrollbar */
  height: 5px;
}

/* Estilo del track (fondo de la scrollbar) */
::-webkit-scrollbar-track {
  background: #ffffff1c; /* Color de fondo del track */
}

/* Estilo del thumb (parte deslizante de la scrollbar) */
::-webkit-scrollbar-thumb {
  background: #ffffff6c; /* Color del thumb */
}

/* Cambia el color del thumb al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff9c; /* Color del thumb al pasar el mouse */
}
