.presentation {
    height: auto;
    color: white;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 35px;
    font-weight: 500;
    flex-direction: column;
    width: 100%;
    place-self: center;
    /* margin-top: 50px; */
    border-right: solid 1px rgba(255, 255, 255, 0.11);
    /* background-color: brown; */
}

.nameText {
    color: var(--default-highlight-color);
}

.viewWorkButton {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px;
    border-color: rgb(255,255,255,0.2);
    padding: 15px;
    padding-inline: 30px;
    font-size: 24px;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    z-index: 3;
    max-width: 90%;
    border-radius: 3px;


    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

.viewWorkButton.active {
    background-color: var(--secundary-highlight-color);
    border-color: var(--secundary-highlight-color);
    color: white;
}

.selectSpace {
    display: flex;
    /* height: min(700px, 100%); */
    width: 100%;
    /* background-color: brown; */
    place-content: center;
    place-items: center;
    /* flex-grow: 1; */
    padding-block: 50px;
    gap: 5%;

}

.viewMyWork {
    /* background-color: blueviolet; */
    font-size: 20px;
    width: min(400px, 45%);
    aspect-ratio: 3/5;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    border: solid 1px rgba(255, 255, 255, 0.137);
    cursor: pointer;
    border-radius: 5px;
    pointer-events: auto;
    color: var(--text-color);
    text-decoration: none;


    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

.viewMyWork:hover {
    transform: scale(1.02);
}

.viewMyWorkContain {
    /* background-color: aquamarine; */
    width: 90%;
    margin-top: 0px;
    position: relative;
    flex-grow: 1;
}

.viewMyWorkContain>p {
    position: relative;
    z-index: 1;

}

.backImage {
    width: 100%;
    height: 95%;
    display: flex;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
    filter:saturate(0) blur(10px);
    pointer-events: none;


    transition-property: filter, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
.backImage.active {
    filter:saturate(1) blur(0px);
    opacity: 1;
    z-index: 2;


}