.presentation {
    height: 100vh;
    width: 100%;
    background-color: var(--presentation-background-color);
    color: white;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 50px;
    font-weight: 500;
    flex-direction: column;
    z-index: 3;
}
.nameText{
    color: var(--default-highlight-color);
}

.viewWorkButton {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
    border: solid 3px;
    border-color: var(--presentation-button-border-color);
    padding: 15px;
    padding-inline: 30px;
    font-size: 24px;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    z-index: 3;

    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.viewWorkButton:hover {
    background-color: var(--presentation-button-highlight-color);
    border-color: var(--presentation-button-highlight-color);
    color: white;
}