@media(max-width:800px) {

    .presentation {
        height: 100vh;
        width: 100%;
        font-size: 6vw;
        font-weight: 500;
    }
    
    .presentation>* {
        max-width: 80%;
    }

    .viewWorkButton {
        font-size: 70%;
        border-width: 2px;
    }
}